body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:darkkhaki;
}

header, nav, main {
    margin: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #333;
    overflow: hidden;
	text-align: center;
}

nav li {
    float: right;
}

nav a {
    display: block;
    color: yellow;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: darkred;
    color: black;
}

main {
    overflow: hidden;
}

footer {
    margin-top: 20px;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

button {
    background-color: lightseagreen;
    color: black;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: lawngreen;
}


	

